.centre {
    text-align: center;
    justify-items: center;

}
button { 
    width: 200px;
    height: 40px;
}
.b1{
    background-color: aqua;
}

.b2{
    background-color: antiquewhite;
}

.b3{
    background-color: bisque;

}