
#map { 
    height: 750px;
    width: 1500px ;
    margin:auto;
    display:block;
    align-items: center;
    justify-content: center;
   
}

.content {
   height: 50px;
    width: 400px;
    text-align: center;
    background-color: rgb(226, 22, 22);
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    color: white;
}