.navbar {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  padding: 50px;
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
}
input[type="checkbox"] {
  visibility: hidden;
}

.menu_hamburger {
  position: fixed;
  flex-direction: initial;
  float: left;
  display: none;
}

.menu_hamburger + label {
  width: 25px;
  height: 25px;
  background: linear-gradient(#6753ea 50%, transparent 50%) 0 0/100% 40%;
  cursor: pointer;
  display: inline;
  flex-direction: initial;
  float: left;
  position: fixed;
}



/*menu du burger*/

.dropdown1 {
  float: left;
  position: fixed;
  display: flex;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: crimson;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
  margin-left: 50px;
}
.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #eee;
}
.dropdown_content a:last-child {
  border-bottom: none;
}
.dropdown_content a:active {
  background-color: #f1f1f1;
}
/*.dropdown1:hover .dropdown_content {
  display: inline;
}*/





